.contact-form {
  height: 100%;
  background-color: darken($light-color, 5%);
  margin: 1rem 3rem;
  border-radius: 0.5rem;
  border-top: 0.5rem solid $primary-color;
}
.form {
  padding: 0 1rem;
  &-group {
    margin: 1rem 0;
    button {
      cursor: pointer;
    }
  }
  &-text {
    display: block;
    margin-top: 0.3rem;
    color: #888;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"],
  select,
  textarea {
    display: block;
    width: 100%;
    padding: 0.4rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
  }
  textarea {
    min-height: 6rem;
    height: auto;
  }

  input[type="submit"] {
    font: inherit;
  }
}

.form-group.hidden {
  display: none;
}
