@import "config";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cv-section-content {
  ul {
    display: flex;
    flex-wrap: wrap;
  }
}

.text-muted {
  color: $muted-color;
}

.cv-page > * {
  font-size: 14px;
  h1 {
    color: $primary-color;
    text-transform: uppercase;
    font-weight: 700;
  }
  .cv-header-subname {
    font-weight: 500;
    color: darken($muted-color, 20%);
    text-transform: capitalize;
    font-size: 1.8em;
  }

  li {
    list-style: none;
    padding: 0.5em 0.5em;
    background-color: lighten($muted-color, 10%);
    margin: 0.2em 0.5em;
    &:hover {
      background-color: $primary-color;
      .tech-text {
        color: #ffffff;
      }
    }
    .tech-text {
      color: #000;
    }
  }

  a {
    text-decoration: none;
    color: darken($primary-color, 5%);
    &:hover {
      text-decoration: underline;
    }
  }
}

.cv-page {
  font-size: 14px;
  width: 100%;
  min-height: 100vh;
  .cv-page-inner {
    .cv-header {
      .cv-header-avatar {
        img {
          height: 11em;
          width: 11em;
        }
      }
      .cv-header-text {
        .cv-header-lead {
          line-height: 1.5;
          font-weight: 300;
          strong {
            font-weight: 700;
            line-height: 1.5;
          }
        }
      }
      .cv-header-contact {
        .contact {
          padding-left: 1em;
          .contact-phone {
            color: darken($muted-color, 20%);
          }
        }
      }
    }
  }
}
.cv-section:first-child {
  display: flex;
  flex-direction: row !important;
}
.cv-section {
  margin-bottom: 2em;
  display: flex;
  flex-direction: column !important;
}

.cv-section-title {
  color: $primary-color;
  text-transform: uppercase;
  margin-bottom: 1em;
  h2 {
    font-size: 1.5em;
    font-weight: 400;
  }
}
.cv-section-sub-title {
  color: darken($primary-color, 10%);
  text-transform: uppercase;
  margin-bottom: 1em;
  h3 {
    font-size: 1.2em;
    font-weight: 400;
  }
}
// CV TIMELINE
.cv-timeline {
  display: flex;
  flex-direction: column;
  text-align: center;
  .cv-timeline-side {
    display: flex;
    flex-direction: column;
    float: right;
  }
}
.cv-timeline-company {
  background: lighten($muted-color, 20%);
  text-transform: uppercase;
  padding: 0.2em 0.3em;
  border-radius: 0.1em;
  color: darken($color: $muted-color, $amount: 20%);
}
.cv-timeline-date {
  color: darken($muted-color, 10%);
}

// TECH TAGS
.tech-tags {
  text-transform: uppercase;
}
.project-tech-tags {
  margin-left: 0 !important;
  margin-top: 0.5em;
}
// .cv-section {
//   width: 100%;
//   margin-bottom: 2em;
//   .cv-section-title {
//     h2 {
//       font-weight: 400;
//       color: $primary-color;
//       text-transform: capitalize;
//     }
//   }
//   display: flex;
//   flex-direction: column;
//   background: #ffffff;
// }
@media (max-width: 768px) {
  .cv-tech-tags {
    justify-content: center;
  }
}

@media (max-width: 1023px) {
  .cv-page-inner {
    padding: 1.5em;
  }
  .cv-section:first-child {
    flex-direction: column !important;
    justify-content: center;
    text-align: center;
  }
  .contact {
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }
  .contact-phone::before {
    content: "\00a0/ ";
    color: darken($muted-color, 20%);
  }
  .contact-phone::after {
    content: " /\00a0";
    color: darken($muted-color, 20%);
  }
}

@media (min-width: 1024px) {
  .cv-page {
    font-size: 14px;
    min-height: 100vh;
    width: 100%;
    background: $muted-color;
  }

  .cv-page-inner {
    margin: 5em auto;
    min-height: 100vh;
    width: 100%;
    background: #ffffff;
    width: 900px;
    box-shadow: 0.2em 0.2em #5f5f5f;
    padding: 5em;
  }
  .cv-section {
    flex-direction: row;
  }

  .cv-section-title {
    margin-left: 12em;
  }
  .cv-header-avatar {
    float: left;
  }
  .cv-header-text {
    padding: 0 1em;
  }
  .contact {
    padding-left: 1em;
    border-left: 1px solid $muted-color;
  }
}

@include mediaMdToXl {
  // CV CONTENT WITHOUT TIMELINE
  .cv-section-content {
    ul {
      margin-left: 11em;
    }
  }
  .content-about {
    margin-left: 12em;
  }
  // CV CONTENT WITH TIMELINE
  .cv-timeline-side {
    min-width: 11em;
    max-width: 11em;
    line-height: 1.5;
    height: 100%;
    text-align: end;
  }
  .cv-timeline-body {
    text-align: start;
    margin: 0 0 0 1em;
  }
  .cv-timeline {
    margin-bottom: 1em;
    flex-direction: row;
  }

  .cv-timeline-company {
    text-transform: uppercase;
    padding: 0.2em 0.3em;
    border-radius: 0.1em;
  }
}
@include mediaLg {
  .cv-section-title {
    margin-left: 12em;
  }
}

@include mediaMd {
  .contact {
    display: flex;
    flex-direction: column;
  }
}
