@import "config";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  // background: url("../../images/kiyah-mitchell-1181741-unsplash.jpg") no-repeat
  // center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  max-width: 1200px;
}
a {
  text-decoration: none;
  color: $primary-color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

nav {
  padding: 0.7rem 4rem;
  z-index: 1;
  opacity: 0.9;
  text-transform: uppercase;

  ul > li {
    a {
      color: lighten($primary-color, 40%);
    }
    a:hover {
      color: $light-color;
    }
    a:active {
      color: $light-color;
    }
  }
}
.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}
.small {
  font-size: 0.85rem;
}
.medium {
  font-size: 1.2rem;
}
.large {
  font-size: 1.5rem;
}
.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.text-primary {
  color: $primary-color;
}
h1 {
  font-weight: 500;
}
h2 {
  font-weight: 300;
}
.text-light {
  color: $light-color;
}
.main {
  display: flex;
}
.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: darken($primary-color, 5%);
}

// Backdrop Styling
.backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(185, 180, 180, 0.8);
  z-index: 10;
  top: 0;
  left: 0;
}

// Person image styling
.avatar {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
}

// Slider Navigation
.side-drawer.open {
  transform: translateX(0);
}

.side-drawer {
  width: 70%;
  max-width: 15rem;
  height: 100%;
  background-color: $primary-color;
  color: $light-color;
  position: fixed;
  opacity: 0.7;
  top: 0;
  left: 0;
  z-index: 20;
  box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.5);
  transform: translateX(-100%);
  transition: transform 2s ease-out;

  .btn-close {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    float: right;
    color: #fff;
    margin: 0.7rem 1.5rem 0 0;
    cursor: pointer;
    &:hover {
      color: $light-color;
    }
  }
  .clearfix {
    clear: both;
  }

  nav {
    align-content: center;
  }
}

@media (min-width: 900px) {
  .main {
    height: 100vh;
    .aside {
      min-width: 20rem;
      min-height: 100vh;
      .social {
        margin-left: 2rem;
        .hamburger {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 899px) {
  .main {
    height: 100vh;
    flex-direction: column;
    .aside {
      width: 100%;
      height: auto;
      flex-direction: column-reverse;
      justify-content: flex-end;
      .navigation {
        display: none;
      }
      .social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0.5rem 0;
        border-bottom: 1px solid #ddd;
        p {
          display: none;
        }
        .social-links {
          margin-right: 1rem;
        }
        .hamburger {
          text-align: center;
          display: block;
          margin-left: 0.5rem;
          margin-top: 0;
          a {
            i {
              color: $light-color;
            }
          }
        }
      }
    }
  }
}
