@import "config";
@import "backdrop";
@import "header";
@import "side_drawer";
@import "my-cv";
@import "landing";
@import "page_outline";
@import "portfolio_page";
@import "techtag";
@import "buttons";
@import "forms";
@import "notification";
@import "loader";
@import "contact_card";
@import "page_not_found";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}
a {
  text-decoration: none;
  color: $primary-color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}
.small {
  font-size: 0.85rem;
}
.medium {
  font-size: 1.2rem;
}
.large {
  font-size: 1.5rem;
}
.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.text-primary {
  color: $primary-color;
}
h1 {
  font-weight: 500;
}
h2 {
  font-weight: 300;
}
.text-light {
  color: $light-color;
}
.main {
  display: flex;
}

.clearfix {
  clear: both;
}

@media (max-width: 899px) {
  .main {
    min-height: 100vh;
    flex-direction: column;
  }
}

@media (min-width: 900px) {
  .main {
    min-height: 100vh;
  }
}
