.tech-tags {
  display: flex;
  flex-wrap: wrap;
  .tech-tag {
    text-transform: uppercase;
    padding: 0.2em 1em;
    background-color: lighten($muted-color, 10%);
    margin: 0.2em 0.5em 0 0.2em;
    color: #000;
    font-size: 0.9em;
    &:hover {
      background-color: $primary-color;
      color: #ffffff;
    }
  }
}

@media screen and (max-width: 768px) {
  .tech-tags {
    justify-content: center;
  }
}
